@charset "utf-8";
/*  #id		.class		element		* = cho tất cả
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
	background-color: whitesmoke;
	color: #161616;
font-family: "Montserrat", sans-serif;
	font-size: 16px;
	margin: 0px; /*bo day le */
	/*background-image: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%); mau gradients nen */
	/*background:url(""../images/458699300_534821875672048_1091943034326279858_n.jpg"");
	background-repeat: no-repeat;
	background-position: bottom center;  */
}
.coral-pixels-regular {
 font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.tagesschrift-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h1,h2{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h3,h4,h5,h6{color: #161616;}
a{color: #161616;
text-decoration: none; /*bo gach chan */
font-weight: 700; /*chu day hon*/
}
ol{
	color:#3A3A3A;
}

h1{font-size: 40px; 
	color: #000; 
	background: -webkit-linear-gradient(#e66465, #9198e5);/* màu nền gradient*/
    -webkit-background-clip: text;   /*clipping vào trong chữ*/
    -webkit-text-fill-color: transparent;  /* chuyển trong suốt bắt buộc */
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7)
		
}
h2{font-size: 36px;color: #353535;}
h3{font-size: 30px;}
h4{font-size: 28px;}
h5{font-size: 24px;}
h6{font-size: 20px;}

h1,h2,h3{margin: 0 auto;}

.container-fluid{
	width: 100%;
	padding: 0px 16px;
}
/*---Mobile first---*/
.container{
	width: 95%;
	margin: auto;
}
/*---size container cho pc 600 large---*/
@media (min-width:600px) {
	.container{
		width: 90%;
		margin: auto;
	}
}
/*---size container cho pc 1000 large---*/
@media (min-width:1000px) {
	.container{
		width: 80%;
		margin: auto;
	}
}
/*---chia he thong grid 12 column---*/
.col-1{ width: 8.3333%; }
.col-2{ width:16.6666%}
.col-3{ width: 25%}
.col-4{ width: 33.33%}
.col-5{ width:41.66%}
.col-6{ width: 50%}
.col-7{ width:58.33%}
.col-8{ width: 66.66%}
.col-9{ width: 75%}
.col-10{ width: 83.33%}
.col-11{ width: 91.66%}
.col-12{ width: 100%}
[class*="col-"]{
	padding: 5px;
	border: 0px solid red
}
.img-100{width: 100%}
.row {
    display: flex; /*chuyen thanh hang ngang*/
    flex-wrap: wrap; /*du 100% thi xuong hang*/
}
.card
{ 
	background: white;
	border-radius: 15px; /* bo goc*/
	overflow: hidden; /*noi dung tran ra thi an di*/
	}
.card-body
{ 
	padding: 16px
}

footer{
	background: #CFCFCF;
	color: #161616;
}
.tentruong{
	align-items: center;
}

.text-center {
    text-align: center;
}

/*---- style he thong mau chữ cho web---*/
.text-primary { color: Green} /* mau chử chính (lam nhan ý chính */
.text-secondary { color:#05916F} /* mau chử phụ (lam nhan ý phụ trong thiet ke */
.text-light{ color: #DDDDDD}
.text-dark{color: #323232}
/*---- style he thong mau nền background cho web---*/
.bg-primary { background-color: thistle}
.bg-secondary { background-color:#05916F }
.bg-light{background-color:#DDDDDD}
.bg-dark {background-color:#323232}
/*---- style he thong mau cho button---*/
.btn-primary
{ 
	background-color: thistle;
	color: white;
	padding: 8px 16px;
	border-radius: 4px
}
.btn-primary:hover{
	background-color:#05916F;
	color: white
}
.btn-secondary:hover{
	background-color:#4093AC; 
	color: antiquewhite
} 
.btn-secondary:hover{
	background-color:#964041; 
	color: white
} 
.btn-outline-primary
{
	background-color: Silver ;
	border: 1px deeppink inset;
	color: deeppink;
	padding: 8px 16px;
	border-radius: 4px;
	margin:2px ;
	
}
.btn-outline-primary:hover
{
	background-color:deeppink;
	color: white
}
/* style chi dung cho pc */
ul.menu{
	display: flex;/*nhay len nam canh nhau*/
	padding: 0;
	list-style: none; /*bo cham dau dong*/
	justify-content: space-around; /*chia deu khoang cach*/
}
ul.menu li a{
	padding: 4 8;
	/*background-color: aqua;*/
	color: black;
	margin: 2;
}
ul.menu li a:hover{
	background-color:black;
/*	border-bottom: 2px solid #666;  hien border been duoi*/
	color: white;
}